#skel-panels-pageWrapper{
  z-index: 1;
}

.portCenter section {
  margin: auto;
}

.portCenter section .ux-method-container {
  width: 100%;
  text-align: center;
  line-height: 4;
  font-size: 16px;
  padding: 0 14%;
  color: $js-dark-gray;
}

.ux-sample-description,
.ux-sample-description-alt {
  padding: 80px 0;
}

.conclusion {
  padding: 160px 0;

  h3, p { text-align: center; }
}

.ux-sample-description {
  h3, p { color: #666666; }
}

.ux-sample-description-alt {
  background: linear-gradient(#2a3134, #171B1E);

  h3, p { color: #bbbbbb; }
}

.portCenter .hero-image-container {
  margin: 0;
  max-width: 100%;
}

#crunched-bg {
  background: url("../images/crunched/crunched-promo-bg.jpg") center no-repeat;
  background-size: cover;
}

.logoImage {
  width: 50vw;
  margin: 20vh 0 !important;
  opacity: 0;
}

.crunched-image-asset {
  width: 100%;
}

#app-snapshot { width: 100% }

// Tools

.ux-tools {
  margin-bottom: 0;
  font-style: italic;
  font-weight: bold;
}

#zendesk-logo,
#photoshop-logo,
#balsamiq-logo,
#html-css-js-logo,
#html-css-js-logo-alt,
#jira-logo { margin-bottom: 30px; }

#zendesk-logo,
#html-css-js-logo,
#html-css-js-logo-alt { width: 8em; }

#jira-logo,
#balsamiq-logo { width: 5em; }

#photoshop-logo { width: 2.5em; }

// End Tools

.pure-toggle-label i {
  -moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

.ux-sample p { color: #666 }

.one-col div,
.two-col {
  text-align: left;
  display: flex;
  margin: auto;
  max-width: 900px;

  :last-child {
    margin-bottom: 0;
  }
}

.one-col div { flex-direction: column; }

div .two-col {
  display: flex;
  flex-direction: row;

  div { width: 50% }

  div:last-child { margin-left: 20px; }
}

div .wireframes {
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes greenPulse {
  from { color: inherit}
  50% { color: #1bbb89}
  to { color: inherit}
}

.fa-times::before {
  animation-name: greenPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: greenPulse;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;

  -o-animation-name: greenPulse;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
}

@media (max-width: 920px) {
  .one-col,
  .two-col div {
    margin: 0 20px;
  }

  .two-col div:first-child {
    margin-right: 0;
    padding: 0;
  }
}